.header-content{
    text-align: center;
    border-radius: 10px;
    background:white;
    padding: 2px 4px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    
    
}
.header-content h1{
    color:black;
    font-weight: 800;
    
    
}
.header-content p{
    display: flex;
    flex-direction: row;
}