.button {
  display: flex;
  justify-content: space-between;
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.button-content {
  
  background:white;
  padding: 10px;
  /* border: 1px solid black; */
  border-radius: 10px;
}
