.link {
  display: flex;
  justify-content: space-between;
  padding: 0;
  border: none;
  background: none;
  outline: none;
}
.link a{
    text-decoration: none;
    color: rgb(137, 137, 137);
}
.button-content {
  border-radius: 10px;
  background:#FFFFFF;
  padding: 10px;
  border: 1px solid black;
}
