.button{
    display: flex;
    justify-content: space-between;
    padding: 0;
border: none;
background: none;
outline:none;
   
}
.button-content{
    border-radius: 10px;
    background: gainsboro;
    padding: 10px;
}